*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(1, 13, 13);
}

.container{
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.white{
    background-color: azure;
}
.brown{
   background-color: rgb(210, 17, 17);
}